<section class="module-container" (window:resize)="onResize($event)">
    <loading-component *ngIf="!headlineError && !headlineData"></loading-component>
    <div *ngIf="!headlineError && headlineData">
        <module-header [modHeadData]="headerInfo"></module-header>
        <article-schedule-component *ngIf="!isLeague"
          [homeData]="homeData"
          [awayData]="awayData"></article-schedule-component>
        <article-main-component [mainTitle]="mainTitle"
          [eventType]="eventType"
          [articleUrl]="articleUrl"
          [titleFontSize]="titleFontSize"
          [mainContent]="mainContent"
          [mainImage]="mainImage"
          [league]="league"
          [timeStamp]="timeStamp"
          [keyword]="keyword"></article-main-component>
        <article-sub-component
          [randomArticles]="randomArticles"
          [teamID]="teamID"
          [league]="league"></article-sub-component>
    </div>
    <!--Empty div to hide module in the event of an error.-->
    <div *ngIf="headlineError"></div>
</section>
