<div *ngIf="footerData && footerStyle && windowWidth > 640" class="module-footer {{footerStyle.ctaBoxClass}}">
  <span class="mf-text">{{footerData.infoDesc}}</span>
  <span class="list-button">
    <!--button component goes here-->
    <!--put inside button when ready [routerLink]="footerData.url"-->
    <!-- <a *ngIf="!footerData.hrefUrl" class="{{footerStyle.ctaBtnClass}}"> -->
      <a *ngIf="!footerData.hrefUrl && footerData.url" [routerLink]="footerData.url" class="{{footerStyle.ctaBtnClass}}">
    <!-- <button class="{{footerStyle.ctaBtnClass}}"> -->
      <span *ngIf="footerStyle.hasIcon" class="module-footer-icon"></span>
      <span class="module-footer-text">{{footerData.text}}</span>
      <i class="module-footer-text-icon fa fa-angle-right"></i>
    </a>
    <a *ngIf="footerData.hrefUrl && footerData.url" href="{{footerData.url}}" class="{{footerStyle.ctaBtnClass}}">
    <!-- <button class="{{footerStyle.ctaBtnClass}}"> -->
      <span *ngIf="footerStyle.hasIcon" class="module-footer-icon"></span>
      <span class="module-footer-text">{{footerData.text}}</span>
      <i class="module-footer-text-icon fa fa-angle-right"></i>
    </a>
    <!--button component goes here-->
  </span>
</div>

<div *ngIf="footerData && footerStyle && windowWidth <= 640" class="module-footer {{footerStyle.ctaBoxClass}}">
  <span class="mf-text">Want to see more?</span>
  <span class="list-button">
    <!--button component goes here-->
    <!--put inside button when ready [routerLink]="footerData.url"-->
    <a *ngIf="!footerData.hrefUrl && footerData.url" [routerLink]="footerData.url" class="{{footerStyle.ctaBtnClass}}">
    <!-- <button class="{{footerStyle.ctaBtnClass}}"> -->
      <span *ngIf="footerStyle.hasIcon" class="module-footer-icon"></span>
      <span class="module-footer-text" *ngIf="footerData.smalltext" [innerHTML]="footerData.smalltext"></span>
      <span class="module-footer-text" *ngIf="footerData.smalltext == null">VIEW MORE</span>
      <i class="module-footer-text-icon fa fa-angle-right"></i>
    </a>
    <a *ngIf="footerData.hrefUrl && footerData.url" href="{{footerData.url}}" class="{{footerStyle.ctaBtnClass}}">
    <!-- <button class="{{footerStyle.ctaBtnClass}}"> -->
      <span *ngIf="footerStyle.hasIcon" class="module-footer-icon"></span>
      <span class="module-footer-text" *ngIf="footerData.smalltext" [innerHTML]="footerData.smalltext"></span>
      <span class="module-footer-text" *ngIf="footerData.smalltext == null">VIEW MORE</span>
      <i class="module-footer-text-icon fa fa-angle-right"></i>
    </a>
    <!--button component goes here-->
  </span>
</div>
<div (window:resize)="onWindowLoadOrResize($event)"></div>
