<slider-carousel *ngIf="carouselDataArray && carouselDataArray[0].noData == false" [carouselData]="carouselDataArray"></slider-carousel>
<tabs *ngIf="tabs" (tabSelected)='tabSelected($event)'>
  <tab
      *ngFor="let tab of tabs; let i = index"
      [active]="tab.tabDisplay == selectedTabName"
      [tabTitle]="tab.tabDisplay">
    <div class="transactions-container">
      <div class="tab-inset"> <!-- due to tab having a default value of padding 1em for tab purposes so we just reverse it with margin -->
        <div *ngIf="tab.includeDropdown" class="transactions-page-title">
          <h4><b>{{selectedFilterSeason}}</b> {{selectedTabName}}</h4>
          <p class="transactions-page-dropdown">
            <span class="sort-title-text">
              {{tab.sortTitle}}
            </span>
            <dropdown
              *ngIf="transactionFilter1"
              [isModule]="'true'"
              [list]="transactionFilter1"
              [selectedKey]="dropdownKey1"
              (selectionChanged)="transactionDropdownChange($event)">
            </dropdown>
          </p>
        </div>
        <transactions-list-item *ngIf="tab.dataArray" [transactionsItemData]='tab.dataArray'></transactions-list-item>
      </div>
    </div>
    <loading-component *ngIf="!tab.isLoaded"></loading-component>
    <no-data-box *ngIf="!tab.dataArray && tab.isLoaded && tab.errorMessage" [data]="tab.errorMessage" [icon]="'fa fa-remove'"></no-data-box>
  </tab>
</tabs>
