<!--image (no hover link)-->
<img *ngIf="!imageData.urlRouteArray && !imageData.url && !textOnly" [src]="imageData.imageUrl" (error)="onError($event)" />

<!--image (with hover link)-->
<a *ngIf="imageData.urlRouteArray && !textOnly" [routerLink]="imageData.urlRouteArray" class="image-round-hover">
  <img [src]="imageData.imageUrl" [alt]="imageData.imageDesc" (error)="onError($event)" />
  <div class="dynamic-background-hover" [innerHtml]="imageData.hoverText"></div>
</a>
<!-- image with offsite url not router link -->
<a *ngIf="imageData.url && !textOnly" href="{{imageData.url}}" target="_blank" class="image-round-hover">
  <img [src]="imageData.imageUrl" [alt]="imageData.imageDesc" (error)="onError($event)" />
  <div class="dynamic-background-hover" [innerHtml]="imageData.hoverText"></div>
</a>

<!--text (no image or hover link)-->
<span *ngIf="textOnly && imageData.text" [innerHtml]="imageData.text"></span>
